[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
redis = "*"
pytest-flake8 = "*"
mastodon-py = "*"
discord-py = {extras = ["voice"],version = "==1.4.*"}
jishaku = "*"

[dev-packages]

[requires]
python_version = "3.8"
